
.paymentpage{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    letter-spacing: 1px;
    /* border: 2px solid pink; */
    /* background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(17, 171, 91, 1) 80%, rgba(168, 168, 168, 1) 100%); */
}
.paymentinfo{
    border: 2px solid black;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
}

.paymentpage input{
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgb(231, 231, 231);
    opacity: 0.6;
    text-align: left;
}
.form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form input{
    width: 200px;
}
.inputss{
    margin: 10px;
}
.pd{
    margin-top: 0px;
    margin-bottom: 5px;
}
#appname{
    width: 500px;
}
.form2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form2 input{
    width: 200px;
}

.payment{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}
.boxes{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}   
.leftbox{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(182, 182, 182);
    padding: 10px;
    border-radius: 10px;
}
.rightbox{
    border: 2px solid rgb(192, 192, 192); 
    width: 70%;
    padding: 20px;
    border-radius: 10px;
}
.paymentdd{
    /* border-bottom: 1px solid black; */
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.card{
    /* border: 2px solid yellow; */
    height: 100%;
}
.inp{
    width: 92%;
}
.ccdetails{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 2px solid black; */
}
.dd1{
    /* border: 2px solid red; */
    width: 60%;
}
.dd2{
    /* border: 2px solid blue; */
    width: 50%;
}
.valid{
    width: 56%;
    cursor: pointer;
}
.cvv{
    width: 30%;
}
.paybttn{
    margin-top: 20px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.ptp{
    margin: 0px;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
}
span{
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}
.adddddd{
    text-align: center;
}
.add-btnn{
    font-size: 16px;
    padding: 10px 40px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.error{
    color: red;
    margin: 0px;
}

@media (min-width:340px) and (max-width:600px){
    .paymentinfo{
        width: 80%;
        padding: 10px;
        margin-top: 30px;
    }
    #appname{
        width: 100%;
    }
    .payment{
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    .paymentpage{
    width: 240%;
}
}